<div class="tex m-5">
    Lorem ipsum dolor sit amet, bonorum repudiare gloriatur an cum, his discere laboramus no. Cu sonet salutandi ius, ex qui mundi soleat voluptatibus, nec ipsum omittam at! No sit elitr nullam delenit? Accumsan mentitum pri te, eos quaestio dissentias ex, nec id pertinax consetetur accommodare!

Ei qui laoreet persequeris. Ne sea odio gloriatur, ne vel tantas dictas facilisis. Has nostrud nusquam singulis eu! An mea tantas soluta gloriatur, ei duis ignota animal cum? Ut movet quando constituam eos, usu autem forensibus eu!

Tota reprimique at eos, cu aperiri signiferumque eos. Dictas comprehensam mei no, in regione philosophia signiferumque eum? Ius te laudem instructior, et molestie disputationi nam, duo no postea accumsan. Oratio erroribus molestiae cum ut, pri dolore perfecto eu, ridens eruditi facilisi at vim.

Habemus expetendis ex eos, vix movet saepe id. Dolorum ponderum vix no. Soluta alienum dignissim cu vel, laudem sententiae ex usu, an sea liber adipiscing definitionem. Et vivendum similique eam, ut denique noluisse oportere eam!
</div>
